<!-- USER'S HOME PAGE AKA "BREW LOG" PAGE -->
{% load django_bootstrap5 %} {% load static %} {% include 'byt/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title & Icon -->
    <title>Brew Log</title>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'byt/images/logo.png' %}"
    />

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
  </head>

  <body style="color: #5a3d2b; overflow-x: hidden; background-color: #f3e5d8">
    <!-- Page Container -->
    <div class="container-fluid vh-100 d-flex flex-column">
      <!-- Header Section -->
      <div
        class="py-4 text-center card border-0 rounded-4 mt-3 mx-3"
        style="background-color: #5a3d2b; color: #f3e5d8"
      >
        <h1 class="fw-bold">Welcome to Your Brew Log!</h1>
        <p class="small">
          Hi {{user_data.name}}! This is where all your saved tech brews can be
          found, revisited, and viewed!<br />
          Dive into your personalized brew history.
        </p>
      </div>

      <!-- Content Section -->
      <div
        class="flex-grow-1 d-flex justify-content-center align-items-start py-4"
      >
        <div class="row w-100 px-4">
          <!-- Individual Log Cards -->
          {% for bookmarked_item in bookmarked_items %}
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100 rounded-4 border-0 d-flex flex-column">
              <div
                class="card-body rounded-4 border-0 d-flex flex-column"
                style="background-color: #d7c0ae; color: #5a3d2b"
              >
                {% if bookmarked_item.category == 'phone' %}
                <h5 class="card-title fw-bold">
                  {{ bookmarked_item.item.brand }} - {{
                  bookmarked_item.item.model }}
                </h5>
                <p class="card-text">
                  Price: ${{ bookmarked_item.item.price_usd }}
                </p>
                <p class="card-text">
                  Battery: {{ bookmarked_item.item.battery_capacity_mah }} mAh
                </p>
                {% elif bookmarked_item.category == 'laptop' %}
                <h5 class="card-title fw-bold">
                  {{ bookmarked_item.item.company }} - {{
                  bookmarked_item.item.product }}
                </h5>
                <p class="card-text">
                  Price: €{{ bookmarked_item.item.price_euros }}
                </p>
                <p class="card-text">
                  CPU: {{ bookmarked_item.item.cpu_model }}
                </p>
                {% elif bookmarked_item.category == 'tablet' %}
                <h5 class="card-title fw-bold">
                  {{ bookmarked_item.item.brand }} - {{
                  bookmarked_item.item.name }}
                </h5>
                <p class="card-text">
                  Display: {{ bookmarked_item.item.display_size_inches }} inches
                </p>
                <p class="card-text">
                  Price: ${{ bookmarked_item.item.price }}
                </p>
                {% elif bookmarked_item.category == 'camera' %}
                <h5 class="card-title fw-bold">
                  {{ bookmarked_item.item.model }}
                </h5>
                <p class="card-text">
                  Resolution: {{ bookmarked_item.item.max_resolution }} px
                </p>
                <p class="card-text">
                  Price: ${{ bookmarked_item.item.price }}
                </p>
                {% endif %} {% if bookmarked_item.category == 'tablet' %}
                <a
                  href="{% url 'brewDisplay' bookmarked_item.category bookmarked_item.item.index user_id %}"
                  target="_blank"
                  class="btn rounded-pill fw-medium mt-auto"
                  style="background-color: #5a3d2b; color: #f3e5d8"
                >
                  View Details
                </a>
                {% else %}
                <a
                  href="{% url 'brewDisplay' bookmarked_item.category bookmarked_item.item.id user_id %}"
                  target="_blank"
                  class="btn rounded-pill fw-medium mt-auto"
                  style="background-color: #5a3d2b; color: #f3e5d8"
                >
                  View Details
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% empty %}
          <div class="text-center mt-5">
            <img
              src="{% static 'byt/images/empty.png' %}"
              alt="BrewYourTech empty"
              style="width: 100px"
              class="mb-2 mx-auto"
            />
            <p style="color: #5a3d2b">
              No bookmarks found. Explore and save your favorite tech!
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Navbar component -->
    {% include 'byt/navbar.html' %}

    <!-- Bootstrap JavaScript -->
    {% bootstrap_javascript %}
  </body>
</html>
