<!-- LOGIN PAGE -->
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title & Icon -->
    <title>BrewYourTech</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/images/logo.png" /> -->

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
  </head>

  <body style="color: #4a5a4d">
    <!-- TODO: add toaster/alert for sign ins -->

    <!-- Login/Sign Up Form -->
    <div
      class="py-3 px-5 position-absolute start-0 h-100 w-sm-100 w-md-50"
      style="background-color: #c4d7b2"
    >
      <form method="post" id="authForm" class="mt-5">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="" />
        <h2 class="fw-bold">Login or Sign up!</h2>
        <p style="font-size: 12px">
          Don't have an account yet? Enter your username and password and press
          <b>Sign Up</b>.
        </p>

        <!-- Author Name Field -->
        <div class="mb-3">
          <label for="authorname" class="form-label">Enter your name</label>
          <input
            type="text"
            class="form-control rounded-4"
            id="authorname"
            name="author_name"
            aria-describedby="authornameHelp"
            required
          />
        </div>

        <!-- Password Field -->
        <div>
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control rounded-4"
            id="password"
            name="author_password"
            required
          />
        </div>

        <!-- Login & Sign Up Buttons -->
        <div>
          <button
            type="submit"
            class="rounded-pill px-3 py-1 fw-medium mt-3"
            style="
              border: 2px solid #4a5a4d;
              background-color: #c4d7b2;
              color: #4a5a4d;
            "
            onclick="document.getElementById('action').value='login';"
          >
            Login
          </button>
          &nbsp;
          <span class="opacity-50" style="color: #4a5a4d"> or </span> &nbsp;
          <button
            type="submit"
            class="rounded-pill px-3 py-1 fw-medium mt-3"
            style="
              border: 1px solid #b292c2;
              background-color: #b292c2;
              color: #ffffff;
            "
            onclick="document.getElementById('action').value='signup';"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>

    <!-- Custom JS -->
    <!-- <script>
      document
        .getElementById("authForm")
        .addEventListener("submit", function (event) {
          const actionValue = document.getElementById("action").value;
          if (!actionValue) {
            event.preventDefault(); // Prevent form submission if action is not set
          }
        });
    </script> -->

    <!-- Bootstrap JavaScript -->
    {% bootstrap_javascript %}
  </body>
</html>
