<!-- ### START ### -->

<!-- NAVBAR -->
<nav class="navbar navbar-expand fixed-bottom" style="background-color: #5a3d2b; color: #f3e5d8">
  <div class="container-fluid d-flex justify-content-around">
    {% for item in navbar_items %}
    <a
      href="{% url item.url_name %}"
      class="nav-link text-center text-light"
      aria-label="{{ item.aria_label }}"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="{{ item.icon_width }}"
        height="{{ item.icon_height }}"
        fill="currentColor"
        class="bi {{ item.icon_class }} mt-1"
        viewBox="0 0 16 16"
        style="color: #f3e5d8"
      >
        {{ item.svg_path|safe }}
      </svg>
      <span class="d-block small fw-bold" style="color: #f3e5d8">{{ item.label }}</span>
    </a>
    {% endfor %}
  </div>
</nav>

<!-- ### END ### -->